extends ../layouts/main-layout

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")


block content
    main
        if errorMassage
            div.user-massage.user-massage--error #{errorMassage}
        form.login-form( action="/sendemail" method="POST")
            .form-control
                label(for="email") E-Mail
                input(type="email", name="email", id="email" )
            .form-control
                button.btn(type="submit") Reset Password


