extends ../layouts/main-layout

block styles
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="/css/auth.css")


block content
    main
        if errorMassage
            div.user-massage.user-massage--error #{errorMassage}
        form.login-form( action="/updatepassword" method="POST")
            .form-control
                label(for="password") New Password
                input(type="password", name="password", id="password")
            .form-control
                label(for="confirmPassword") Confirmed New Password
                input(type="password", name="confirmPassword", id="confirmPassword")
                input(type="hidden", name="hash", id="hash", value=`${hash}`)

            button.btn(type="submit") Change Password