extends ../layouts/main-layout

block styles
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    link(rel="stylesheet", href="/css/cart.css")
    script(src="/js/cart.js")
block content

    main
        ol
            li How do I place an order?
                ul
                   li Once your order is shipped, you will receive a tracking number via email. You can use this number to track your order on the courier’s website or log into your account to view the status of your shipment.
            li Do you offer free shipping?
                ul
                    li Clarification about shipping charges, minimum order requirements, or promotions.
            li What is your return or exchange policy?
                ul
                    li Information about how to return or exchange items if needed, including time frames and conditions.
            li Do you ship internationally?
                ul
                    li  Yes, we ship to many countries around the world. Shipping rates and delivery times vary based on your location. Please check our International Shipping page for more details on regions served, additional shipping costs, and customs duties.
            li Where is this shop located?
                ul
                    li This shop located in Auckland New Zealand.
            li What products do you offer?
                ul
                    li We offer a wide variety of products across multiple categories in fashion.
            li What payment methods are accepted?
                ul
                    li We accept a variety of payment options for your convenience including:
                    ul
                        li Credit Card
                        li PayPal
                        li MasterCard
                        li AfterPay
            li Is it safe to shop on your website?
                ul
                    li Yes, your security is our top priority. We use SSL encryption to ensure your personal and payment information is protected. We also comply with PCI-DSS standards to keep your data secure.
            li Do you offer free shipping?
                ul
                    li We offer free standard shipping on orders over [amount] in most locations. For smaller orders, a shipping fee will be calculated at checkout. We also offer expedited shipping options for an additional charge.
            li How can I find products on the site?
                ul
                    li Use the search bar at the top of the page to type in the name or type of product you're looking for. You can also navigate through different categories listed on the homepage.
            li How do I know if an item is in stock?
                ul
                    li Product availability is listed on each item page. If an item is out of stock, you may sign up for a notification to be alerted when it becomes available again. You can also check with customer service if you need help finding an alternative.
            li How do I return an item?
                ul
                    li To return an item, visit our Returns Center and follow the instructions provided. You will need your order number and the email address used to place the order. Most returns require you to ship the product back in its original condition and packaging.
            li What do I do if I receive a damaged or incorrect item?
                ul
                    li We apologize for any inconvenience. If you receive a damaged or incorrect item, please contact our customer service team within 7 days of receiving the product. We’ll provide you with a return label and either send you a replacement or issue a refund.
            li How do I create an account?
                ul
                    li To create an account, click on the "Sign Up" or "Create Account" button on our homepage. You will need to provide basic information such as your name, email address, and a password. Once submitted, you’ll receive a confirmation email. Click the link in the email to verify your account, and you’ll be ready to start shopping!
            li How can I find products on the site?
                ul
                    li Use the search bar at the top of the page to type in the name or type of product you're looking for. You can also navigate through different categories listed on the homepage. Filters such as price range, size, color, and brand help you narrow down your search results.
            li Can I change or cancel my order after it has been placed?
                ul
                    li If you need to make changes or cancel your order, please contact our customer support team as soon as possible. If your order hasn’t been shipped yet, we will do our best to accommodate your request.
            li What is your return and exchange policy?
                ul
                    li We offer a [30-day] return policy on most products. To be eligible for a return or exchange, items must be unused and in their original packaging.
            li How do I know if an item is in stock?
                ul
                    li Product availability is listed on each item page. If an item is out of stock, you may sign up for a notification to be alerted when it becomes available again. You can also check with customer service if you need help finding an alternative.
            li How do I return an item?
                ul
                    li To return an item, visit our Returns Center and follow the instructions provided. You will need your order number and the email address used to place the order. Most returns require you to ship the product back in its original condition and packaging
            li Can I shop without an account?
                ul
                    li Yes, you can browse and shop as a guest. However, creating an account allows you to track your order history, receive special offers, and save your information for faster checkout on future purchases.


